<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wifi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="WifiTesterApp"
        android:allowBackup="true"
        android:icon="@drawable/img02"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.wifi.Login"
            android:label="@string/app_name"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="WifiTester"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="WifiList" >
        </activity>
        <activity android:name="AddPosition" >
        </activity>
        <activity android:name="ShowPositionKmeans" >
        </activity>
        <activity android:name="ShowDatabasePos" >
        </activity>
        <activity android:name="RefreshedLoc" >
        </activity>
        <activity android:name="RegisterInfo" >
        </activity>
        <activity android:name="ShowPosKNN" >
        </activity>
        <activity android:name="DetialLoc" >
        </activity>
        <activity android:name="DetialWifi" >
        </activity>
        <activity android:name="ShowPosKDWKNN" >
        </activity>
        <activity android:name="ShowPosTriangle" >
        </activity>
        <activity android:name="ChooseArithmetic" >
        </activity>
        <activity android:name="ShowPosTriangleTest"></activity>
        <activity android:name="ShowAllTestLocation"></activity>
        <activity android:name="HandleTestData"></activity>
        <activity android:name="ShowOriginalApInfo"></activity> 
        <activity android:name="ShowOriginalInfoByApNum"></activity>
        <activity android:name="AddOnlineLoc"></activity>
        <activity android:name="KmeansTest"></activity>
        <activity android:name="ShowPositionKWKNN"></activity>
        <activity android:name="ShowPositionNN"></activity>
    </application>

</manifest>